// 设备管理样式 by zhangying
@import "~antd/lib/style/themes/default.less";
.searchForm{
  line-height: 39px;
  :global {
	.ant-form-item {
	  width: 98%
	}
	// .ant-form-item-control-wrapper{
	//     width: 100%
	// }
  }

}
.leftCard {
  height:100%;
  // overflow: auto;
}
// .rightCard {
//     height: 735px;
//     overflow: auto;
// }
.systemStatus{
  border-radius: 5px;
  margin-right: 10px;
  display: inline-block;
  height: 30px;
  width: 180px;
  text-align: center;
  line-height: 30px;
  font-size: 26px;
  :global{
	.ant-badge-status-text{
	  font-size: 22px;
	}
	.ant-badge-status-dot {
	  padding: 5px;
	}
  }
}
.tableListForm {
  display: inline-block;
  float: right;
}
