@import '~antd/lib/style/themes/default.less';

.headerList {
  margin-bottom: 4px;
}

.tabsCard {
  :global {
    .ant-card-head {
      padding: 0 16px;
    }
  }
}

.noData {
  color: @disabled-color;
  text-align: center;
  line-height: 64px;
  font-size: 16px;
  i {
    font-size: 24px;
    margin-right: 16px;
    position: relative;
    top: 3px;
  }
}

.heading {
  color: @heading-color;
  font-size: 20px;
}

.stepDescription {
  font-size: 14px;
  position: relative;
  left: 38px;
  padding-top: 8px;
  text-align: left;

  > div {
    margin-top: 8px;
    margin-bottom: 4px;
  }
}

.textSecondary {
  color: @text-color-secondary;
}

@media screen and (max-width: @screen-sm) {
  .stepDescription {
    left: 8px;
  }
}
.searchForm {
  line-height: 39px;
  margin-bottom: 8px;
  margin-top: 16px;
  :global {
    .ant-form-item {
      margin-bottom: 24px;
      margin-right: 0;
      display: flex;
      > .ant-form-item-label {
        width: auto;
        line-height: 32px;
        padding-right: 8px;
      }
      .ant-form-item-control {
        line-height: 32px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
}
// 卷宗详情
.JzInfoDiv{
  margin-bottom: 18px;
  // color: #000;
  .JzInfoRight{
      text-align: right
  }
}
.card {
  margin-bottom: 0px;
  // color:blue;
  :global{
      // .ant-card-head-title{
      //     //color:blue;
      //     //padding:0px
      // }
      .ant-card {
          line-height: 3;
          color: rgba(0, 0, 0, 0.9);
      }
      .ant-card-head{
          background: #EBF5FF;
          border-bottom: 0px;
      }
      .ant-card-body{
          padding: 18px 18px;
      }
      .ant-tag {
          color: white
      }
      .ant-tag a:hover {
          color:white
      }
      button {
          font-size: 14;
          color:white;
      }
      div.ant-timeline-item-tail { 
          border-left: 2px solid #3266FF;
          height:46px;
      }
      .ant-card-head-title {
          color:#1890FF;
      }
  }
} 
